/* Tailwind Preflight */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  input {
    background-color: #ffecd1;
  }
}
.glass {
  /* From https://css.glass */
  background: rgba(230, 230, 230, 0.295);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
}
