<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Bubblegum+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./src/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./src/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./src/favicons/favicon-16x16.png" />
    <link rel="manifest" href="./src/favicons/site.webmanifest" />
    <link rel="mask-icon" href="./src/favicons/safari-pinned-tab.svg" color="#020202" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#000000" />
    <!-- End Favicons -->
    <link rel="stylesheet" href="./styles.css" />
    <title>Order Queue</title>
  </head>
  <body class="bg-white">
    <header class="h-[15vh] text-red flex items-center justify-between pl-20 pr-20">
      <img class="h-[12vh]" src="./src/svg/Eriks Trattoria.svg" alt="Erik's Trattoria Logo" />
      <ul class="flex flex-row font-sans items-center justify-evenly gap-10 text-2xl">
        <li class="cursor-pointer">
          <a class='pl-3 pr-3 pt-2 pb-2 hover:bg-red hover:text-orange rounded-2xl' href="/">Home</a>
        </li>
      </ul>
    </header>
    <section class="bg-blue h-[85vh] flex flex-col mr-auto ml-auto items-center justify-start gap-10">
      {{pagename}}
      </div>
    </section>
  </body>
</html>
