<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Noto+Serif+JP&display=swap"
      rel="stylesheet"
    />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./src/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./src/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./src/favicons/favicon-16x16.png" />
    <link rel="manifest" href="./src/favicons/site.webmanifest" />
    <link rel="mask-icon" href="./src/favicons/safari-pinned-tab.svg" color="#020202" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#000000" />
    <!-- End Favicons -->
    <link rel="stylesheet" href="./styles.css" />
    <title>Register</title>
  </head>
  <body class="bg-white">
    <header class="h-[15vh] text-red flex items-center justify-between pl-20 pr-20">
      <img class="h-[12vh]" src="./src/svg/Eriks Trattoria.svg" alt="Erik's Trattoria Logo" />
      <ul class="flex flex-row font-sans items-center justify-evenly gap-10 text-2xl">
        <li class="cursor-pointer">
          <a class="pl-3 pr-3 pt-2 pb-2 hover:bg-red hover:text-orange rounded-sm" href="/">Home</a>
        </li>
      </ul>
    </header>
    <section class="bg-blue h-[85vh] flex flex-col mr-auto ml-auto items-center justify-start gap-10">
      {{#if loggedOut}}
      <div class="flex flex-col items-center justify-start">
        {{#if newuser}}
        <h1 class="text-white font-serif text text-6xl max-w-[80%] pt-20">New Account was created successfully!</h1>
        <h2 class="text-white font-sans text text-4xl max-w-[80%] pt-5 pb-5">
          Please login to access your account dashboard.
        </h2>
        <form method="POST" class="flex flex-row gap-12 items-center justify-start font-sans text-white text-2xl">
          <input
            class="text-2xl cursor-pointer text-red bg-white p-3 rounded-sm hover:text-orange hover:bg-red"
            type="submit"
            id="login"
            name="login"
            value="Go to Log In"
          />
          <input
            class="text-2xl cursor-pointer text-red bg-white p-3 rounded-sm hover:text-orange hover:bg-red"
            type="submit"
            id="home"
            name="home"
            value="Return to Home"
          />
        </form>
        {{else}}
        <h1 class="text-white font-serif text-center text-6xl max-w-[100%] pt-20">Register a New Account!</h1>
        <h2 class="text-white font-sans text-center text-4xl max-w-[100%] pt-5 pb-5">
          See and reorder all your previous orders!
        </h2>
        <form method="POST" class="flex flex-col gap-12 items-center justify-start font-sans text-white text-2xl">
          <div class="text-2xl text-center">
            {{#if message}}
            <h2>{{message}}</h2>
            {{/if}}
          </div>
          <p class="flex items-center gap-16">
            <label for="username">Username:</label>
            <input class="text-black p-2 rounded-sm" type="text" id="username" name="username" />
          </p>
          <p class="flex items-center gap-16">
            <label for="password">Password:</label>
            <input class="text-black p-2 rounded-sm" type="password" id="password" name="password" />
          </p>
          <div class="flex flex-row items-center justify-center gap-12">
            <input
              class="text-2xl cursor-pointer text-red bg-white p-3 rounded-sm hover:text-orange hover:bg-red"
              type="submit"
              id="register"
              name="register"
              value="Register"
            />
            <input
              class="text-2xl cursor-pointer text-red bg-white p-3 rounded-sm hover:text-orange hover:bg-red"
              type="submit"
              id="home"
              name="home"
              value="Return to Home"
            />
          </div>
        </form>
        {{/if}} {{else}}
        <form method="POST" class="flex flex-col gap-12 items-center justify-start font-sans text-white text-2xl">
          <h1 class="text-white font-serif text text-6xl max-w-[80%] pt-20">You are already logged in {{username}}!</h1>
          <h2 class="text-white font-sans text-center text-4xl max-w-[80%] pt-5">
            As such, you cannot create a new account without logging out. We also suggest you maintain one account for
            your convenience.
          </h2>
          <div class="flex flex-row items-center justify-center gap-12">
            <input
              class="text-2xl cursor-pointer text-red bg-white p-3 rounded-sm hover:text-orange hover:bg-red"
              type="submit"
              id="logout"
              name="logout"
              value="Log Out"
            />
            <input
              class="text-2xl cursor-pointer text-red bg-white p-3 rounded-sm hover:text-orange hover:bg-red"
              type="submit"
              id="home"
              name="home"
              value="Return Home"
            />
          </div>
        </form>
        {{/if}}
      </div>
    </section>
  </body>
</html>
